* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.container {
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.reset {
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
}

.botoes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

.botoes button {
    cursor: pointer;
    padding: 20px;
}

.visor {
    background-color: rgb(255, 255, 255);
    height: 50px;
    margin-bottom: 10px;
}
